body {
    margin: 0;
    font-family: Arial, sans-serif, Helvetica;
}

.header {
    text-align: center;
    background: rgb(72,154,255);
background: linear-gradient(90deg, rgba(72,154,255,1) 0%, rgba(28,28,166,1) 73%, rgba(6,1,78,1) 100%);
    color: white;
    height: 70px;
    margin: 0;
}
.header h2 {
    padding-top: 22px;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 32px;
}

#city-search {
    margin: 15px;
}

#city-search h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

hr {
    height: 4px;
}

input {
    width: 98%;
    color: #6e6e6e;
}

#search-box {
    margin-bottom: 10px;
    color: #929292;
}

#search-btn {
    width: 98%;
    height: 40px;
    text-align: center;
    background-color: #70a2df;
    color: #f0f0f0;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;

}

#search-history {
    margin: 15px;
}

.prev-results-btn {
    width: 98%;
    height: 40px;
    text-align: center;
    background-color: #929292;
    color: #000000;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    
}

#weather-report {
    width: 95%;
  height: 175px;
  border: 1px solid black;
  margin: 15px
}
#weather-report h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin: 5px;
}

#weather-report p {
    margin-left: 5px
}