body {
    margin: 0;
}

.header {
    text-align: center;
    background-color: rgb(33, 155, 231);
    color: white;
    height: 70px;
}
.header h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 23px;
}